<!DOCTYPE html>
<html>
  <head>
    <%- include('../../includes/header.ejs') %>
  </head>

  <body>
    <%- include('../../includes/nav.ejs') %>
    <div class="jumbotron text-center about-us">
      <div class="container">
        <br />
        <h1 id="we-are-family">WE ARE FAMILY!!</h1>
        <div class="about-place">
          <p>
            C9ForLife was created by Maddie Glance a Survivor. See her story at
            <a href="https://www.c9forlife.com" target="_blank" >www.c9forlife.com</a>. She is on a journey to help other survivors come
            forward, help people with PTSD, and to fix the justice system in
            hopes to make a safer world for all those who are survivors of
            trauma. Remember that you are not alone, there are many others who
            are here to help you. Together we can get through the anxiety, fear,
            and move forward to acheive your own Cloud Nine.
          </p>
        </div>
      </div>
      <a href="https://www.psychologytoday.com/us/therapists" target="_blank"
        ><button class="btn btn-danger">Get Help</button></a
      >
    </div>
    <%- include('../../includes/end.ejs') %>
  </body>
</html>
