<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="jumbotron text-center">
    <div class="container">
      <br>
      <h1>ACTIVITIES</h1>
      <p>Activities page placeholder</p>
    </div>
    <button class="btn btn-danger">Get Help</button>
  </div>
  <%- include('../../includes/end.ejs') %>