<!DOCTYPE html>
<html>

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <div class="jumbotron index-page">
    <div class="container">
      <h1 id="happytag">WELCOME TO HAPPINESS</h1>
      <p id="front-quote">"Some really inspiring quote here"</p>
      <div class="card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, a. Quos corrupti aliquam odit laudantium
          deleniti, quis accusantium molestias vel ipsa praesentium, omnis voluptatibus minima ab nemo nesciunt!
          Voluptatem, eveniet.</p>
      </div><br>
    </div>
    <a href="#"><button class="btn btn-danger get-help">Get Help</button></a>
  </div>
  <div class="about-author container">
    <div class="image-cropper">
      <img class="profile-image" src="/images/w.jpg" alt="Author">
    </div>
    <div class="author-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam numquam minus sed reprehenderit est obcaecati
        quod voluptas quibusdam aperiam eos delectus qui eaque, rerum tempora. Fugiat iure natus exercitationem sint.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ratione ullam laborum dolorum doloribus repellat
        saepe? Magni in eligendi, rerum, delectus nostrum modi ea dolores ducimus maiores, sed inventore minus. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Quisquam quae officiis dolores laborum nam asperiores omnis
        quo harum incidunt labore? Rerum, eaque. Culpa enim commodi molestiae, nesciunt saepe eligendi suscipit!
      </p>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>