<!DOCTYPE html>
<html>

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <div class="jumbotron text-center">
    <div class="container">
      <br>
      <h1>WELCOME TO HAPPINESS</h1>
      <p>Front page placeholder</p>
    </div>
    <button class="btn btn-danger">Get Help</button>
  </div>
  <div class="about-author">
    <div class="image-cropper">
      <img class="profile-image" src="/images/w.jpg" alt="Author">
    </div>
    <div class="author-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam numquam minus sed reprehenderit est obcaecati
        quod voluptas quibusdam aperiam eos delectus qui eaque, rerum tempora. Fugiat iure natus exercitationem sint.
      </p>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>