<!DOCTYPE html>
<html>

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <div class="jumbotron text-center">
    <div class="container">
      <br>
      <h1>WELCOME TO HAPPINESS</h1>
      <p>Front page placeholder</p>
    </div>
  </div>
    <div>
      <img class="profile-image" src="/images/smiling-woman-looking-upright-standing-against-yellow-wall-1536619.jpg"
        alt="Author" style="width: 20%;">
    </div>
    <%- include('../includes/end.ejs') %>